.pokemonDisplayBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
  margin-top: 50px;
  width: calc(100vw - 40px);
}
.pokemonDisplayButton {
  width: calc((100% / 4) - 20px);
  min-width: 250px;
  flex-grow: 1;
  height: 250px;
  background-color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.pokemonDisplayButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.pokemonCard {
  display: flex;
  flex-direction: column;
}

.pokemonCard h2 {
  text-align: center;
  margin: 0;
}

.pokemonCard img {
  height: 100px;
  align-self: center;
}

.pageSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 40px;

  position: absolute;
}

.pageSelector button {
  border: none;
  background: transparent;
}

.pokeType {
  display: flex;
  gap: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.PokeTypeBox {
  font-size: 16px;
  padding: 3px 10px;
  border-radius: 5px;
}

.teamButton {
  cursor: pointer;
  width: 150px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px white solid;
  margin-top: 10px;
  align-self: center;
}

.sorting {
  display: flex;
  margin-top: 70px;
  width: 80%;
  margin-left: 10%;
  gap: 20px;
}

.pokemonID {
  color: #616161;
  display: flex;
  font-weight: bold;
  font-size: 10px;
  align-content:center;
  justify-content: center;

}