@font-face {
  font-family: pokemonFont;
  src: url(../Pokemon-Hollow.ttf);
}

@font-face {
  font-family: pokemonFontSolid;
  src: url(../Pokemon-Solid.ttf);
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
}

.navbar-logo {
  height: 50px;
  margin-left: 10px;
  display: flex;
}

.navbar-logo a {
  display: flex;
  flex-direction: row;
  font-family: pokemonFont;
  font-size: 28px;
  transition: 0.1s ease-in-out;
}

.navbar-logo a:hover {
  color: #ffcb05;
}

.navbar-list {
  height: 50px;
  padding: 10px;
  right: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.4rem 0.3rem;
}

.navbar-item:hover {
  background-color: rgba(0, 0, 0, 0.2);

}

.navbar-item {
  margin: 0 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  padding: 5px;
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

.nohover:hover {
  background-color: transparent;
}

.navbar-item a:hover {
  text-decoration: underline;
}

input[type='text'] {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: none;
  margin: 0.4rem 0.3rem;
  height: 75%;
}

.sortButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searchbar {
  width: 500px; 
  margin: 0.4rem 0.3rem;
}

.searchbar input::placeholder {
  color: rgba(0, 0, 0, 0.7); 
}

.navbar-logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media screen and (max-width: 680px) {
  .navbar-logo {
    display: none;
  }

  input[type='text'] {
    width: 70%; 
  }
}